<% visitado.forEach(product => { %>

<article>
    <a href="/products/detail/<%= product.id %> ">
    <img src="<%= product.image %> " alt="<%= product.name %>" class="product_img">
    </a>
    <div class="main-article">
        <i class="fas fa-truck"></i>
        <p class="price"><%= product.price %></p>
        <p class="discount"><%= product.discount %>% off</p>
        <h4 class="description"><%= product.name %></h4>
        <button class="ver-mas" onclick="window.location.href='/products/detail/<%= product.id %> '">Ver Más</button>
    </div>

</article>
<% }) %>

