<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")  %> 

<body>

    <%- include("./partials/header")  %> 
    
    <main>
        <div class="banner">
            <img src="/img/banner-ejemplo.jpg" alt="banner">
        </div>

        <section class="colecciones">
            <h3>Colecciones</h3>
            <div class="imagenes-col">
                <img src="/img/coleccion-1.jpg" alt="">
                <h3>Deporte</h3>
            </div>
            <div class="imagenes-col">
                <img src="/img/coleccion-2.jpg" alt="">
                <h3>Urbano</h3>
            </div>
        </section>

        <section class="productos-destacados">
            <h3>Productos Destacados</h3>
            <div class="productos-destacados">
            
            <%- include("./partials/cards")  %> 

            </div>
        </section>


        <section class="productos-destacados">
            <h3>Ofertas</h3>
            <div class="productos-destacados">

            <%- include("./partials/cards2")  %>
                
            </div>
        </section>
        
    </main>

    <%- include ("./partials/footer") %> 

</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>