<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")  %> 

    <link rel="stylesheet" href="/css/style.css">

<body>

    <%- include("./partials/header")  %> 
    
    <main>

        <section class="productos-destacados">
            <h3>Resultados de la búsqueda: <%= loQueBusco %></h3>
            <div class="productos-destacados">
                <% for (let i = 0; i < product.length; i++) { %>
        <article class="resultado-busqueda">
            <a href="/products/detail/<%= product[i].id %> ">
            <img src="/img/products/<%= product[i].image %>" alt="<%= product[i].name %>" class="product_img">
            </a>
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="name" style="color: white;"><%= product[i].name %></p>
                <p class="price"><%= product[i].price %></p>
                <p class="discount"><%= product[i].discount%>% off</p>
                <h4 class="description"><%= product[i].description%></h4>
                <button class="ver-mas" onclick="window.location.href='/products/detail/<%= product[i].id %> '">Ver Más</button>

            </div>
        </article>
        <% } %>
        
    </div>
</section>

<% if(product.length === 0) { %>
    <h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
<% } %>


    </main>

    <%- include ("./partials/footer") %> 

</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>