<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>

    <%- include("../partials/header")  %>
    
    <main>
<section class="registerForm">
    
    <ul id="errorsRegister"></ul>
    
    <form action="/create" method="POST">
        <div class="registerName">
            <label>Nombre</label> <input type="text" name="first_name" placeholder="Nombre" required  id="first_name">
        </div>
        <% if (locals.errors && errors.first_name) { %>
            <div class="text-danger">
              <%= errors.first_name.msg %> 
             </div>
          <% } %>

        <div class="registerSurname">
            <label>Apellido</label> <input type="text" name="last_name" placeholder="Apellido" required  id="last_name">
        </div>
        <% if (locals.errors && errors.last_name) { %>
            <div class="text-danger">
              <%= errors.last_name.msg %> 
             </div>
          <% } %>

        <div class="registerEmail">
            <label>Email</label> <input type="email" name="email" placeholder="Email" required value="<%= locals.oldData ? oldData.email : null %> " id="inputRegisterEmail">
        </div>
        <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %> 
             </div>
          <% } %>

        <div class="registerPassword">
            <label>Contraseña</label> <input type="password" name="password" placeholder="Elegí tu contraseña" required minlength="6" id="inputRegisterPassword">
        </div>
        <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
              <%= errors.password.msg %> 
             </div>
          <% } %>

          <div class="registerPassword">
            <label>Confirmar contraseña</label> <input type="password" name="passwordConfirmation" placeholder="Confirma tu contraseña" required minlength="6" id="inputRegisterConfirmPassword">
        </div>
        <% if (locals.errors && errors.passwordConfirmation) { %>
            <div class="text-danger">
              <%= errors.passwordConfirmation.msg %> 
             </div>
          <% } %>
        <div class="registerButtom">
        <input class="myButtonRegister" type="submit" value="Registrarse" >
        </div>
        <div class="registerButtomBorrar">
            <a href="/create" class="myButtonBorrar" type="reset">Borrar</a>
        </div>

    </form>
</section>
    </main>

    <%- include ("../partials/footer") %> 

</body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
    <script src="/js/register.js"></script>

</html>