<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head")  %> 

    <link rel="stylesheet" href="/css/style.css">

<body>

    <%- include("../partials/header")  %>
    
        <main>

            <h2 class="titulo-agregar-producto">Editar Producto <i class="fa-solid fa-plus"></i></h2>

            <form class="form-group" action="/products/editProduct/<%= product.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                
                <ul id="errorsEditProduct"></ul>

                <label class="eti-add-prduct" for="product-name">Nombre del producto:</label><br>
                <input class="in-add-prduct" type="text" id="inputEditName" name="name" value="<%= product.name %>"><br>

                <label class="eti-add-prduct" for="product-name">Precio:</label><br>
                <input class="in-add-prduct" type="text" id="inputEditPrice" name="price" value="<%= product.price %>"><br>

                <label class="eti-add-prduct" for="product-name">Descuento:</label><br>
                <input class="in-add-prduct" type="text" id="inputEditDiscount" name="discount" value="<%= product.discount %>"><br>

                <label class="eti-add-prduct" for="product-description">Descripcion del producto:</label><br>
                <textarea id="inputEditDescription" name="description"><%= product.description %></textarea><br>

                <label class="eti-add-prduct" for="product-photo">Foto del producto:</label><br>
                <input class="in-add-prduct" type="file" id="product-photo" name="image"><br><br>

                <label class="eti-add-prduct" for="product-photo">Categoría:</label><br>
                <select name="category_id" id="category" class="form-input">
                    <option value="">Elegí</option>
                    
                    <% if (product.Category.category == "En oferta") { %>
							 
                        <option value="1" selected >Oferta</option>
                        <option value="2" >Visitado</option>

                    <% } else { %>

                        <option value="1" >Oferta</option>
                        <option value="2" selected >Visitado</option>

                    <% } %>	

                </select>

                <input class="in-add-prduct" type="submit" value="Editar Producto">
            </form> 
              
              
        </main>

        <%- include ("../partials/footer") %> 

</body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
    <script src="/js/editProduct.js"></script>

</html>