<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>
    
    <%- include("../partials/header")  %>
    
    <main class="listado-productos">
        <section class="productos-todos">
            <h3>Productos</h3>
            <div class="productos-todos">
        <% products.forEach(product => { %>
            <article>
                
                <a href="/products/detail/<%= product.id %> ">
                <img src="/img/products/<%= product.image %> " alt="<%= product.name %>" class="product_img">
                </a>
               
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price"><%= product.price %></p>
                    <p class="discount"><%= product.discount %>% off</p>
                    <h4 class="description"><%= product.name %></h4>
                    <button class="ver-mas" onclick="window.location.href='/products/detail/<%= product.id %> '">Ver Más</button>
                </div>
        
            </article>
        <% }) %>
            </div>
        </section>
    </main>

    <%- include ("../partials/footer") %> 

</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
    
</html>