<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>
    
    <%- include("../partials/header")  %>
    
    <main>
        <article class="detalles-producto">
            <h3 class="titulo-detalle"><%= product.name %></h3>
                
            <div class="foto-y-precio">
                <img src=  '/img/products/<%= product.image %>'alt="<%= product.name %>" class="detail-img">
                <div class="precio-detallado">
                    <!-- <h4 class="description-black"><%= product.description %></h4> -->
                    <p class="price">$ <%= product.price %></p>
                    <p class="discount"><%= product.discount %> % off</p>
                    <p class="texto-talles">Elegí tu talle</p>
                    <ul class="talles">
                        <% if (product.type === "ropa") { %>
                            <% sizes.slice(0, 5).forEach(size => { %>
                                <li><a href=""></a><%= size.size %></li>
                            <% }) %>
                        <% } else { %>
                            <% sizes.slice(5, 12).forEach(size => { %>
                                <li><a href=""></a><%= size.size %></li>
                            <% }) %>
                        <% } %>
                    </ul>
                    <p class="texto-talles">Elegí tu Color</p>
                    <ul class="colores">
                        <% colors.forEach(color => { %>

                            <li><a href=""></a><%= color.color %></li>
                         
                        <% }) %>
                        
                    </ul>
                    <form class="eleccion-cantidad" action="#">
                        <label for="cantidad">Cantidad</label>
                        <select name="cantidad-compra" id="cantidad">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                  </form>
                  <div class="botones">
                    <input class="boton-comprar" type="submit" value="Comprar">
                    <input class="boton-carrito" type="submit" value="Agregar al carrito">
                  </div>

                </div>
            </div>
            
            <div class="detalle-ampliado">
                <h4>Detalles del Producto</h4>
                <p><%= product.description %></p>
            </div>
        </article>

        <% if (locals.userLogged && locals.userLogged.user_category_id == 1) { %>
            <a href="/products/editProduct/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
        
            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="action-button delete">ELIMINAR</button>
            </form>
        <% } %>

        </main>

        <%- include ("../partials/footer") %> 
    
    </body>
    
        <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
